@charset "UTF-8";

/*Начало общих стилей*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/*Конец общих стилей*/

/*Начало стилей слайдера*/

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.slider__photo-container {
  margin: 0 60px 0 0;
  overflow-x: hidden;
  max-width: 608px;
  position: relative;
}

.slider__photo-container-gecsagon {
  position: absolute;
  left: 56px;
  top: 40px;
}

.slider__photo-track {
  position: relative;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__title {
  font-family: Montserrat;
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
}

.slider__main-text {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.slider__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__button {
  -webkit-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 38px 45px;
}

.slider__button.next {
  background: #156963;
}

.slider__text-wrapper {
  margin: 110px 0;
}

.button > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.button__title {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #156963;
}

.button__title.next {
  color: #FFFFFF;
}

.button__arrow {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button {
  cursor: pointer;
  background: #156963;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 8px 32px;
  color: #FFFFFF;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 40px 56px 0 0;
}

/*Конец стилей слайдера*/

/*Начало стилей 4-х карточек*/

.four-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 56px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  border: 1px solid #E0E0E0;
  padding: 21px 16px;
  max-width: 268px;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__title span {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 0 16px;
  color: #156963;
}

.card__text {
  margin: 16px 0 0 0;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

/*Конец стилей 4-х карточек*/

/*Начало стилей растений*/

.featured-plants {
  min-width: 217px;
}

.featured-plants__photo {
  width: 217px;
  height: 217px;
  background: #F3F4F6;
}

.featured-plants__name {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 16px 0 8px 0;
}

.featured-plants__price {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.featured-plants__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 16px 0;
  margin: 0 0 24px 0;
  border-bottom: 1px solid #E0E0E0;
}

.featured-plants__title-text {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.featured-plants__select-wrapper {
  position: relative;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.featured-plants__select-title {
  cursor: pointer;
  border: 1px solid #E0E0E0;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-plants__select-title span {
  margin: 0 15px 0 0;
}

.featured-plants__select-title-text {
  min-width: 81.73px;
}

.featured-plants__selectable-options {
  text-align: center;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  position: absolute;
  width: 100%;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 1.4868133068px 2.9736266136px 0px #00000026;
          box-shadow: 0px 1.4868133068px 2.9736266136px 0px #00000026;
}

.featured-plants__select-wrapper:hover .featured-plants__selectable-options {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.featured-plants__select-wrapper:hover .select__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.featured-plants__option {
  padding: 8px 10px;
}

.featured-plants__option:hover {
  background-color: #F2F2F2;
}

.featured-plants__container {
  padding: 0 56px;
}

.featured-plants__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__arrow {
  -webkit-transition: ease all 0.4s;
  -o-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

/*Конец стилей растений*/

/*Начало стилей модального окна*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window {
  max-height: 500px;
  background: #FFFFFF;
  border-radius: 8.37862px;
  width: 470px;
  padding: 40px;
  position: relative;
}

.window__cross {
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 22px;
}

.window__circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.window__cirle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #001E35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window__title {
  font-family: PT Sans;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin: 18px 0 9px 0;
}

.window__text {
  font-family: PT Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.025em;
  text-align: center;
  margin: 0 0 40px 0;
}

.window__form input {
  width: 100%;
  border: 0.63px solid #DBDEDF;
  border-radius: 15.7586px;
  height: 40px;
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  margin: 0 0 14px 0;
}

.window__form input.invalid {
  border-color: red;
}

.window__form span.error {
  color: red;
  font-family: PT Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.window__form button {
  width: 185px;
  -webkit-box-shadow: 0px 1.48681px 2.97363px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1.48681px 2.97363px rgba(0, 0, 0, 0.15);
  border-radius: 15.7586px;
  padding: 8px 56px;
  font-family: PT Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.window__form button.back {
  margin: 0 9px 0 0;
}

.window__form button.send {
  margin: 0 0 0 9px;
  background: #CCE1FE;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
  -webkit-animation: rotateit 1.3s linear infinite;
          animation: rotateit 1.3s linear infinite;
}

.spinner__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner__wrapper.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes rotateit {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateit {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.spinner.bar div {
  width: 10px;
  height: 30px;
  background: black;
  position: absolute;
  top: 35px;
  left: 45px;
}

.spinner.bar div:nth-child(1) {
  -webkit-transform: rotate(0deg) translate(0, -30px);
      -ms-transform: rotate(0deg) translate(0, -30px);
          transform: rotate(0deg) translate(0, -30px);
}

.spinner.bar div:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(0, -30px);
      -ms-transform: rotate(45deg) translate(0, -30px);
          transform: rotate(45deg) translate(0, -30px);
  opacity: 0.7;
}

.spinner.bar div:nth-child(3) {
  -webkit-transform: rotate(90deg) translate(0, -30px);
      -ms-transform: rotate(90deg) translate(0, -30px);
          transform: rotate(90deg) translate(0, -30px);
  opacity: 0.6;
}

.spinner.bar div:nth-child(4) {
  -webkit-transform: rotate(135deg) translate(0, -30px);
      -ms-transform: rotate(135deg) translate(0, -30px);
          transform: rotate(135deg) translate(0, -30px);
  opacity: 0.5;
}

.spinner.bar div:nth-child(5) {
  -webkit-transform: rotate(180deg) translate(0, -30px);
      -ms-transform: rotate(180deg) translate(0, -30px);
          transform: rotate(180deg) translate(0, -30px);
  opacity: 0.4;
}

.spinner.bar div:nth-child(6) {
  -webkit-transform: rotate(225deg) translate(0, -30px);
      -ms-transform: rotate(225deg) translate(0, -30px);
          transform: rotate(225deg) translate(0, -30px);
  opacity: 0.3;
}

.spinner.bar div:nth-child(7) {
  -webkit-transform: rotate(270deg) translate(0, -30px);
      -ms-transform: rotate(270deg) translate(0, -30px);
          transform: rotate(270deg) translate(0, -30px);
  opacity: 0.2;
}

.spinner.bar div:nth-child(8) {
  -webkit-transform: rotate(315deg) translate(0, -30px);
      -ms-transform: rotate(315deg) translate(0, -30px);
          transform: rotate(315deg) translate(0, -30px);
  opacity: 0.1;
}

.table__row {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}

.table__row > * {
  font-family: PT Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #156963;
}

.table__completed {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}

.table__id {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.table__user-id {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.table__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.table__num {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

/*Конец стилей модального окна*/